<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>

<h2>Live Streaming</h2>

<div class="column">

    <div class="row">
        <div class="column">
          <img src="{{ url_for('video_feed') }}" alt="Snow" style="width:100%">
        </div>
        <div class="column">
          <img src="{{ url_for('video_feed') }}" alt="Forest" style="width:100%">
        </div>
        <div class="column">
          <img src="{{ url_for('video_feed') }}" alt="Mountains" style="width:100%">
        </div>
    </div>

    <div class="row">
        <div class="column">
          <img src="{{ url_for('video_feed') }}" alt="Snow" style="width:100%">
        </div>
        <div class="column">
          <img src="{{ url_for('video_feed') }}" alt="Forest" style="width:100%">
        </div>
        <div class="column">
          <img src="{{ url_for('video_feed') }}" alt="Mountains" style="width:100%">
        </div>
    </div>

</div>

</body>
</html>